body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 40px;
}
span{
    color: orange;
}
p{
    font-size: 19px;
    color: dimgrey;
}
a{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato) ;
    color:white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 400;
}
.container{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    margin-top: 80px;
}
.second-container{
    margin-bottom: 200px;
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.third-container{
    display: block;
    margin-bottom: 200px;
}
.third-container-baby{
    display: flex;
}
.third-container-h1{
    margin-left: 5px;
}
.txt1{
    color: dimgrey;
    font-size: 14px;
}
.half-width-fullstrack{
    box-shadow: 2px 2px 50px gray;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    border-left: 7px solid tomato;
}
.half-width-babydeveloper{
    box-shadow: 2px 2px 50px gray;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
#ab{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) 1 / 1 / 0 stretch;
}
.footer{
    text-align: center;
}